
    .input-underline {
            border: none;
            /* remove all borders */
            border-bottom: 1px solid #7c7c7f;
            /* only bottom border */
            border-radius: 0;
            /* remove rounded corners */
            padding: 8px 5px;
            outline: none;
            /* remove focus outline */
            transition: border-color 0.3s;
        
}
.buttton{
                border: 1px solid #7c7c7f;
}